* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: fill;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.container {
  padding: 0 20px;
}

ul a {
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  font-size: 12px;
  transition: all 200ms;
}

ul li {
  padding: 0px 15px;
  display: inline-block;
}

ul a:hover {
  cursor: pointer;
  font-weight: 700;
}



.headerBottom .logo img{
  width: 150px;
  padding-right: 15px;
}

.headerSearch {
  padding-right: 30px;
}

button {
  height: 50px;
  width: 50px;
  background-color: orange;
  color: white;
  border: solid 1px transparent;
  border-radius: 2px;
}

.App {
  text-align: center;
}

.banner img {
  width: 200px;
}

.phoneNumber::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}