html body {
    height: 100vh;
    background-color: #D8D9DA;
}

.login-container {
    text-align: start;
    background-color: #fff;
    padding: 20px 40px 40px 40px;
}

h2 {
    font-weight: 600 !important;
    text-align: center;
    padding: 15px 0;
}

.login-btn {
    background-color: #F86F03;
    border: none;
    color: white;
    padding: 10px;

    &:hover {
        background-color: #cb5800;
        transition: ease-in-out 400ms;
    }
}

.link-text {
    font-size: 12px;
    text-align: center;
}

span {
    color: red;
}

.product-detail-container {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    text-align: start;
    background-color: #fff;
}

.img-container,
.product-main-container {
    padding: 15px;
}

.product-main-container {
    width: 550px;
    padding-right: 50px;
}

.product-img {
    width: 350px;
    transition: ease-in 0.2s;
    transform-origin: top left;

    &:hover {
        scale: 1.5;
    }
}

.hr-line {
    border: #d8d9da95 solid 1px;
}

.pName {
    font-size: 24px;
    text-align: start;
    margin-bottom: 40px;
}

.category-text {
    font-size: 12px;
    color: #a5a5a5;
}

.price {
    margin: 20px 0;
    color: #ff8820;
    font-size: 34px;

    &::before {
        content: "₫";
        font-size: 20px;
    }
}

.qty-container {
    display: flex;
    margin: 20px 0 40px 0;
}

.qty-container p {
    margin-right: 20px;
}

.quantity {
    text-align: center;
    width: 40px;
    height: 35px;
    border: #D8D9DA solid 1px;
    border-left: none;
    border-right: none;
}

.qty-btn {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: #D8D9DA solid 1px;
    font-size: 24px;
    color: #616161;
    line-height: 10px;

    &:hover {
        background-color: #939393;
        color: #fff;
        transition: ease-in-out 0.2s;
    }
}

.btn-container {
    display: flex;
    margin: 30px 0;
}

.buy-btn {
    background-color: #FBC252;
    width: 200px;
    height: 50px;
    padding: 10px 60px;
    border: none;
    color: #fff;
    margin-right: 10px;
    border-radius: 3px;

    &:hover {
        background-color: #d39d30;
        transition: ease-in-out 0.4s;
    }
}

.toCart-btn {
    width: 200px;
    height: 50px;
    background-color: #F86F03;
    padding: 10px 40px;
    border: none;
    color: #fff;
    border-radius: 3px;

    &:hover {
        background-color: #cb5800;
        transition: ease-in-out 0.4s;
    }
}

.product-desc-container {
    margin: 0 auto;
    width: 1200px;
    text-align: start;
    background-color: #fff;
}

.product-desc-container p {
    padding: 20px;
}

.product-desc {
    height: 300px;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, transparent 200px, white);
    }
}

.desc-title {
    background-color: #f4f4f4;
    font-weight: bolder;
    font-size: 16px;
}

.stock {
    margin-left: 20px;
    padding-top: 5px;
}

.product-sub-container {
    width: 350px;
}

.product-sub-container div {
    background-color: #f4f4f4;
}

.shipping-address {
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 35px;
}

.shipping-info-container p {
    margin-bottom: 0;
}

.cod-container {
    background: url("../images/money.png") no-repeat 20px center;
    border-bottom: #d8d9da95 solid 1px;
}

.cod-text-container {
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    margin-left: 35px;
    font-weight: bold;
}

.seller-name-container {
    margin-bottom: 20px;
}

.seller-name-container p {
    margin-bottom: 0;
}

.seller-name {
    padding: 0 20px 15px 20px;
    font-size: 18px;
    font-weight: normal;
}

.section-title {
    font-size: 12px;
    font-weight: bold;
    padding: 20px 20px 0 20px;
}

.location-img {
    background: url("../images/location.png") no-repeat 20px center;
    border-bottom: #d8d9da95 solid 1px;
}

.warranty-container {
    margin-bottom: 20px;
    border-bottom: #d8d9da95 solid 1px;
}

.warranty-container img {
    display: inline;
}

.warranty-container p {
    padding: 10px 20px 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}

.warranty-container p img {
    margin-right: 10px;
}

.wrap-toggle-btn-container {
    text-align: center;
    padding: 20px 0;
}

.wrap-toggle-btn {
    width: 150px;
    background: transparent;
    border: rgb(48, 153, 202) solid 1px;
    padding: 7px 20px;
    color: rgb(48, 153, 202);
    border-radius: 3px;

    &:hover {
        background-color: rgb(48, 153, 202);
        color: #fff;
        transition: ease-in-out 0.5s;
    }
}

.statistics-container {
    text-align: start;
    width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px 30px 40px 30px;
}

.statistics-main-container {
    display: flex;
}

.statistics-main-container div {
    width: 240px;
}

.statistics-title {
    font-size: 24px;
    font-weight: bold;
}

.statistics-main-container div p {
    font-size: 14px;
    color: #a5a5a5;
    font-weight: bold;
}

.status {
    color: rgb(0, 128, 207) !important;
    font-size: 24px !important;
    margin-bottom: 5px;

    &::after {
        content: "product(s)";
        font-size: 14px;
        font-weight: bold;
        color: #a5a5a5;
        padding-left: 5px;
    }
}

.management-container {
    text-align: start;
    width: 1200px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 0 30px 30px 30px;
}

.product-management-container {
    position: absolute;
    top: 50%;
    transform: translate(-600px, -325px);
    width: 1200px;
    height: 650px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 30px 30px 30px;
}

.management-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.management-table {
    background-color: #fff;
    width: 100%;
    margin: 20px 0;
    color: #1d1d1dcf;
}

.management-table tbody {
    width: 100%;
    max-height: 400px;
    display: block;
    overflow-y: auto;
}

.management-table tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.management-table thead {
    width: 100%;
    border-bottom: #d8d9da95 solid 2px;
    line-height: 50px;
    display: table;
    table-layout: fixed;
}

.management-table tbody::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.management-table tbody::-webkit-scrollbar-thumb {
    background: #616161;
}

.management-table tr {
    border-bottom: #d8d9da95 solid 1px;
}

.management-table td {
    border-bottom: #d8d9da95 solid 1px;
    padding: 20px 0;
}

.management-table img {
    width: 100px;
}


.product-update-btn {
    width: 45px;
    height: 45px;
    background-color: rgba(0, 136, 0, 0.8);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    margin-right: 10px;

    &:hover {
        background-color: rgba(0, 74, 0, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }

    &::before {
        content: url("../images/sellers/edit.png");
        filter: invert(1);
    }
}

.product-delete-btn {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;

    &:hover {
        background-color: rgba(179, 0, 0, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }

    &::before {
        content: url("../images/sellers/delete.png");
        filter: invert(1);
    }
}

.add-btn {
    width: 160px;
    height: 45px;
    background-color: rgba(0, 115, 187, 0.8);
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;

    &::before {
        content: "+";
        font-weight: bold;
        margin-right: 5px;
    }

    &:hover {
        background-color: rgba(0, 70, 114, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }
}

.seller-page-container {
    display: flex;
}

.seller-page-main-container {
    margin: 0 auto;
    position: relative;
}

.management-title-container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.seller-logo {
    width: 250px;
    height: 100px;
}

.seller-header-container,
.management-container,
.statistics-container,
.login-container {
    box-shadow: 1px 1px 5px 1px #babbbc;
}

.seller-header-container {
    text-align: start;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.seller-header-main-container {
    padding: 10px 20px;
}

.seller-header-container p,
.seller-header-container a {
    cursor: pointer;
    text-decoration: none !important;
    color: #818181 !important;
    margin-bottom: 24px;

    &:hover {
        color: #2f2f2f !important;
        transition: ease-in-out 0.2s;
    }
}

.sign-out-btn {
    padding: 10px 20px 10px 40px;
    background: url("../images/sellers/logout.png") transparent no-repeat 20px 16px;
    border: none;
    position: absolute;
    left: 0;
    bottom: 15px;

    &:hover {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 5px 5px 1px #616161;
        transition: ease-in-out 0.4s;
    }
}

.order-ship-btn {
    width: 120px;
    height: 40px;
    background-color: #198754;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
    padding: 10px 30px;
    line-height: 20px;
    font-size: 14px;

    &::before {
        content: url("../images/delivery.png");
        filter: invert(1);
        margin-right: 5px;
        position: relative;
        top: 2px;
    }

    &:hover {
        background-color: rgba(0, 74, 0, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }
}

.order-cancel-btn {
    width: 130px;
    height: 40px;
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 30px;
    line-height: 20px;
    font-size: 14px;

    &::before {
        content: url("../images/sellers/close.png");
        filter: invert(1);
        margin-right: 2px;
        position: relative;
        top: 2px;
    }

    &:hover {
        background-color: rgba(59, 59, 59, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }
}

.close-btn,
.save-btn {
    width: 100px;
    height: 40px;
}

.order-row-container:hover {
    background-color: #a5a5a5;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.desc {
    background: url("../images/sellers/sort-descending.png") right 15px no-repeat;
}

.asc {
    background: url("../images/sellers/sort-ascending.png") right 15px no-repeat;
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}

.product-form-container {
    text-align: start;
    width: 1200px;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #babbbc;
}

.status-text {
    width: fit-content;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 0;
    line-height: 15px;
    color: #fff;
}

.New {
    background-color: #FBC252;
}

.Shipped {
    background-color: #198754;
}

.Canceled {
    background-color: #000;
}

.Accepted {
    background-color: #609966;
}

.Rejected {
    background-color: #DC3545;
}

.dropdown-disabled {
    &::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url("../images/sellers/down-arrow.png") no-repeat 0 5px;
        display: inline-block;
        position: absolute;
        right: 10px;
    }
}

.dropdown-enabled {
    &::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url("../images/sellers/down-arrow.png") no-repeat 0 -5px;
        display: inline-block;
        position: absolute;
        right: 10px;
        transform: scaleY(-1);
    }
}

.product-header {
    background: url("../images/sellers/product.png") no-repeat 0 4px;
}

.order-header {
    background: url("../images/sellers/order-delivery.png") no-repeat 0 -2px;
}

.section-header {
    &::before {
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 5px;
    }
}

.unauthorized-container {
    width: 800px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    text-align: center;
    box-shadow: 1px 1px 5px 1px #babbbc;
    border-radius: 10px;
}

.unauthorized-text-container p {
    margin-bottom: 0;
    color: #939393;
}

.unauthorized-text-container h1 {
    color: #fd6666;
    font-weight: bold;
}

.unauthorized-img-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background: url("../images/403.jpg") no-repeat center;
    background-size: cover;
    filter: grayscale(60%);
}

.go-back-btn {
    width: fit-content;
    height: 40px;
    border: none;
    padding: 8px 35px;
    border-radius: 40px;
    background: #afde8b;
    color: #4e4e4e;
    font-weight: bold;

    &:hover {
        color: #fff;
        box-shadow: 1px 1px 10px 3px #7d7d7d;
        background-color: #198754;
        transition: ease-in-out 0.3s;
    }
}

.menu-btn {
    position: relative;
    top: -15px;
    width: 24px;
    height: 24px;
    background: url("../images/sellers/hamburger.png") no-repeat center;
    border: none;
    border-radius: 50%;
    padding: 20px;
    margin: 0 10px;
    display: none;

    &:hover {
        background-color: #939393;
        transition: ease-in-out 0.3s;
    }
}

.product-filter-container {
    position: relative;
    float: right;
}

.product-filter-form-container {
    text-align: start;
    border: 1px solid #D8D9DA;
    background-color: #fff;
    position: absolute;
    width: 500px;
    right: 0;
    padding: 30px 40px;
    z-index: 2;
    animation: scale ease-in-out 0.1s;
}

.product-filter-form-container input {
    padding: 5px;

    &:focus {
        outline: none;
        border: 1px solid rgba(0, 115, 187, 0.8);
    }
}

.product-price-filter-container input {
    width: 140px;
}

.product-name-filter-input {
    padding: 10px;
    padding-left: 40px;
    height: 40px;
    border: 1px solid #D8D9DA;

    &:focus {
        outline: none;
        border: 1px solid rgba(0, 115, 187, 0.8);
    }
}

.filter-btn-active {
    border: 1px solid rgba(0, 115, 187, 0.8) !important;
}

.product-search-btn {
    position: absolute;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.product-search-btn img {
    width: 16px;
    height: 16px;
}

.product-filter-btn {
    text-align: start;
    padding-left: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid #D8D9DA;
    color: #000;
    background: #fff url("../images/sellers/filter.png") no-repeat 80% 12px;
}

.product-filter-footer {
    display: flex;
    justify-content: space-between;
}

.product-filter-footer button {
    width: fit-content;
    height: fit-content;
    border: none;
    background-color: transparent;
}

@keyframes scale {
    0% {
        transform-origin: top right;
        transform: scale(0);
    }

    100% {
        transform-origin: top right;
        transform: scale(1);
    }
}

.approve-btn,
.reject-btn {
    width: 90px;
    height: 35px;
    font-size: 14px !important;
    border-radius: 8px;
}

.approve-btn {
    background-color: rgba(0, 136, 0, 0.8);

    &:hover {
        background-color: rgba(0, 74, 0, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url("../images/check.png") no-repeat center 3px;
        filter: invert(1);
        margin-right: 5px;
    }
}

.reject-btn {
    background-color: #DC3545;

    &:hover {
        background-color: rgba(179, 0, 0, 0.8);
        box-shadow: 1px 1px 5px #616161;
        transition: ease-in-out 0.3s;
    }

    &::before {
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url("../images/sellers/close.png") no-repeat center 3px;
        filter: invert(1);
        margin-right: 2px;
    }
}

.Approved {
    background-color: rgba(0, 136, 0, 0.8);
}

.Pending {
    background-color: #FBC252;
    color: #000 !important;
}

.seller-status {
    padding: 7px 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.admin-page-container {
    text-align: start;
    margin: 0 auto;
    padding: 50px 0;
}

.category-list-container,
.seller-table-container {
    width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    padding: 0 30px 30px 30px;
    box-shadow: 1px 1px 5px 1px #babbbc;
    padding: 30px;
}

.category-container {
    --btn-size: 60px;
    --width: 1000px;
    display: table;
    margin: 0 auto;
    border: 1px solid #d1d1d1;
    width: calc(var(--width) + var(--btn-size));
}

.topCategory-container {
    width: calc(var(--width) + var(--btn-size));
    border: 1px solid #d1d1d1;
}

.topCategory-container div {
    display: table-cell;
}

.category-container p {
    margin-bottom: 0;
    padding: 10px 20px;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.subcategory-btn {
    width: var(--btn-size) !important;
    text-align: center;
    font-weight: bolder;
    border-right: 1px solid #d1d1d1;
}

.subcategory-btn button {
    width: 25px;
    height: 25px;
    color: #000;
    font-size: 18px;
    line-height: 10px;
    padding-bottom: 3px;
    background-color: transparent;
    border: 1px solid rgb(0, 128, 207);

    &:active {
        animation: rotation ease-in-out 0.5s;
    }
}


.category-active{
    background-color: rgb(0, 128, 207) !important;
    color: #fff !important;
}

.disable-click {
    width: 63px !important;
}

.category-name-container {
    position: relative;
    width: var(--width);
    height: 45px;
    display: table-cell;
}

.category-name-container button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 5px;
}

.category-container input {
    margin-left: 20px;
}

.category-manage-btn-container {
    position: absolute;
    right: 20px;
    top: 8px;
}

.category-edit-btn {
    background: url("../images/sellers/edit.png") no-repeat center;
    border: 1px solid #198754 !important;

    &:hover {
        background-color: #00aa5b;
        transition: ease-in-out 0.2s;
    }
}

.category-delete-btn {
    background: url("../images/sellers/delete.png") no-repeat center;
    border: 1px solid #DC3545 !important;

    &:hover {
        background-color: #ec2c3f;
        transition: ease-in-out 0.2s;
    }
}

.subcategory-add-btn {
    background: url("../images/plus.png") no-repeat center;
    border: 1px solid rgb(48, 153, 202) !important;

    &:hover {
        background-color: rgb(0, 128, 207);
        transition: ease-in-out 0.2s;
    }
}

.category-name-container button img {
    width: 16px;
    height: 16px;
}

.secondCategory-container {
    margin-left: var(--btn-size);
    width: var(--width);
    background-color: #F9F6F7;
    animation: appear ease-in 0.2s;
    border: 1px solid #d1d1d1;
}

.thirdCategory-container {
    margin-left: calc(var(--btn-size) * 2);
    width: calc(var(--width) - (var(--btn-size)));
    background-color: #F8F6F4;
    animation: appear ease-in 0.2s;
    border: 1px solid #d1d1d1;
}

.fourthCategory-container {
    margin-left: calc(var(--btn-size) * 3);
    width: calc(var(--width) - (var(--btn-size) * 2));
    background-color: #F0F0F0;
    animation: appear ease-in 0.2s;
    border: 1px solid #d1d1d1;
}

.secondCategory-container div {
    display: table-cell;
}

.thirdCategory-container div {
    display: table-cell;
}

@keyframes appear {
    0% {
        transform-origin: top center;
        transform: scaleY(0);
    }

    100% {
        transform-origin: top center;
        transform: scaleY(1);
    }
}

.category-list-header {
    display: flex;
    justify-content: space-between;
}

.cancel-text,
.save-text {
    border: none !important;
    margin-right: 25px !important;
}

@media screen and (max-width: 600px) {
    .seller-page-container {
        display: inline;
    }

    .seller-header-container {
        width: 100vw;
        height: 65px;
        background-color: #fff;
        box-shadow: none;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .seller-header-logo-container {
        display: flex;
    }

    .background-wrapper {
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        filter: opacity(0.5);
    }

    .seller-header-main-container {
        display: none;
    }

    .seller-header-small-container {
        display: inline;
        position: absolute;
        width: 220px;
        background-color: #fff;
        height: 90vh;
        left: 0;
        top: 65px;
        animation: fadeIn ease-in-out 0.3s;
    }

    .seller-logo {
        width: 160px;
        height: 65px;
    }

    .menu-btn {
        display: inline;
        position: relative;
        top: 10px;
    }

    .statistics-container,
    .management-container,
    .product-form-container,
    .product-management-container {
        width: 100vw;
    }

    .product-management-container{
        transform: translate(0, 0);
        margin: 20px 0;
    }

    .statistics-main-container {
        display: block;
    }

    .management-table img {
        width: 60px;
    }

    .management-table td,
    .management-table th {
        font-size: 12px;
    }

    @keyframes fadeIn {
        0% {
            transform: translateX(-300px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .product-update-btn {
        width: 30px;
        height: 30px;
        background: url("../images/sellers/edit.png") no-repeat center;
        filter: invert(0);
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 5px 15px;

        &:hover {
            background-color: rgba(0, 74, 0, 0.8);
            box-shadow: 1px 1px 5px #616161;
            transition: ease-in-out 0.3s;
        }

        &::before {
            content: "";
        }
    }

    .product-delete-btn {
        width: 30px;
        height: 30px;
        background: url("../images/sellers/delete.png") no-repeat center;
        filter: invert(0);
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 5px 15px;

        &:hover {
            background-color: rgba(179, 0, 0, 0.8);
            box-shadow: 1px 1px 5px #616161;
            transition: ease-in-out 0.3s;
        }

        &::before {
            content: "";
        }
    }

    .order-ship-btn {
        width: 70px;
        background-color: #198754;
        border: none;
        border-radius: 5px;
        color: #fff;
        margin-right: 10px;
        padding: 5px 10px;
        line-height: 20px;
        font-size: 10px;
    }

    .order-cancel-btn {
        width: 70px;
        background-color: #000;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 5px 10px;
        line-height: 20px;
        font-size: 10px;
    }

    .status-text {
        width: fit-content;
        font-size: 10px;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 0;
        line-height: 15px;
        color: #fff;
    }

    .product-detail-container {
        width: 100vw;
        display: block;
    }

    .product-sub-container,
    .product-desc-container,
    .product-img {
        width: 100vw;
    }

    .product-img {
        pointer-events: none;
    }

    .img-container {
        padding: 0px;
    }

    .product-main-container {
        padding: 0 20px;
    }

    .category-list-container,
    .topCategory-container,
    .secondCategory-container,
    .thirdCategory-container,
    .fourthCategory-container,
    .seller-table-container {
        width: 100vw;
    }

    .category-container,
    .topCategory-container,
    .secondCategory-container,
    .thirdCategory-container,
    .fourthCategory-container {
        width: calc(100vw - var(--btn-size));
    }

    .secondCategory-container,
    .thirdCategory-container,
    .fourthCategory-container {
        margin-left: 0;
    }

    .disable-click {
        width: 105px !important;
    }

    .category-list-header p {
        display: none;
    }

    .seller-status {
        font-size: 10px;
        padding: 5px;
    }

    .reject-btn, .approve-btn{
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
}